# Web Framework
Django
djangorestframework
django-cors-headers

# NLP Libraries
nltk==3.8.1
spacy==3.7.2
# pydparser

# Parsing files
pdfplumber
python-docx

# Hugging Face Transformers
transformers
accelerate

# PyTorch
torch
# torchvision==0.15.2

# TensorFlow
# tensorflow==2.13.0

# JAX/Flax
# jax==0.4.10
# flax==0.6.9

# Web Scraping
requests
beautifulsoup4
lxml
selenium==4.18.1
webdriver-manager==4.0.1

# Database Connector - Apple Silicon compatible version
psycopg2-binary # Works on M1/M2/M3 Macs

# Environment Variables
python-dotenv
